server:
  port: 8080
  error:
    include-message: always

spring:
  application:
    name: spring
  datasource:
    driver-class-name: com.mysql.jdbc.Driver
    username: root
    url: jdbc:mysql://<host>:<port>/<db>
    password:
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    open-in-view: true
